################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DAY-2/DAY-2-PRACTICE/.vs/DAY-2-PRACTICE.slnx/FileContentIndex/1fb434f8-d146-4f39-8d34-e1f05e287c85.vsidx
/DAY-2/DAY-2-PRACTICE/.vs/DAY-2-PRACTICE.slnx/FileContentIndex/56df2e33-ba7e-42e2-ba35-52ad87de1df8.vsidx
/DAY-2/DAY-2-PRACTICE/.vs/DAY-2-PRACTICE.slnx/FileContentIndex/cc9621a0-9964-4344-8c7d-46db46be0e38.vsidx
/README.md
